<main class="bg-gray-100 py-8 dark:bg-slate-900">
  <div class="container">
    <h1
      class="mb-4 text-center text-2xl font-bold tracking-tight text-slate-900 dark:text-white md:text-left md:text-3xl"
    >
      StepnGO Cheat Sheet
    </h1>

    <ul
      class="mb-2 flex flex-col gap-2 rounded-lg bg-white p-2 text-center font-medium text-slate-800 dark:bg-slate-700 dark:text-white md:flex-row"
    >
      @for (tab of tabs; track tab.id) {
        <li class="w-full">
          <button
            [title]="tab.name"
            class="inline-block w-full rounded-lg px-4 py-2"
            [ngClass]="{
              'bg-gray-100 dark:bg-slate-800': tab.isActive,
              'bg-white dark:bg-slate-700': !tab.isActive,
            }"
            (click)="selectTab(tab.id)"
          >
            {{ tab.name }}
          </button>
        </li>
      }
    </ul>

    @if (activeTabIdx === 1) {
      <app-energy-cheat-sheet />
    }
    @if (activeTabIdx === 2) {
      <app-level-up-cheat-sheet />
    }
  </div>
</main>
