<main class="bg-gray-100 dark:bg-slate-900">
  <div class="container py-8">
    <h1
      class="mb-4 text-3xl font-bold tracking-tight text-slate-900 dark:text-white"
    >
      StepnGO Cheat Sheet
    </h1>

    <ul
      class="mb-4 flex flex-col gap-2 rounded-lg bg-white p-2 text-center font-medium text-gray-500 dark:bg-slate-700 dark:text-gray-400 md:flex-row"
    >
      @for (tab of tabs; track tab.id) {
        <li class="w-full">
          <button
            class="inline-block w-full rounded-lg px-4 py-2"
            [ngClass]="{
              'bg-gray-100 dark:bg-slate-800': tab.isActive,
              'bg-white dark:bg-slate-700': !tab.isActive,
            }"
            (click)="selectTab(tab.id)"
          >
            {{ tab.name }}
          </button>
        </li>
      }
    </ul>

    @if (activeTabIdx === 1) {
      <app-energy-cheat-sheet />
    }
    @if (activeTabIdx === 2) {
      <app-level-up-cheat-sheet />
    }
  </div>
</main>
