<button
  title="Level {{ level().level }}"
  class="flex w-full items-center justify-between rounded-md p-2 text-left text-slate-900 drop-shadow dark:text-white"
  [ngClass]="{
    'bg-gray-100 dark:bg-slate-800': open(),
    'bg-white dark:bg-slate-700': !open(),
  }"
  (click)="toggle()"
>
  <span class="font-medium"> Level {{ level().level }} </span>
  <svg
    class="h-5 w-5 transform transition-transform duration-300"
    [class.rotate-180]="open()"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 9l-7 7-7-7"
    />
  </svg>
</button>
<div
  class="transition-max-height overflow-hidden px-2 text-slate-900 duration-300 ease-in-out dark:text-white"
  [style.maxHeight]="open() ? '200px' : '0'"
  [style.paddingTop]="open() ? '0.5rem' : '0'"
  [style.paddingBottom]="open() ? '1rem' : '0'"
>
  @if (levelEarnings() >= earningsStore.earnings.maxGgt()) {
    <app-alert type="warning" class="mb-2 block">
      At this level you exceed the maximum GGT amout you can earn per day.
    </app-alert>
  }
  <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
    <div class="space-y-1">
      <div>
        <span class="font-semibold">Level Up Cost: </span>
        <span>{{ level().cost }} GGT</span>
      </div>
      <div>
        <span class="font-semibold">Duration: </span>
        <span>{{ level().minutes / 60 }} hour(s)</span>
      </div>
    </div>
    <div class="space-y-1">
      <div class="flex items-center gap-1">
        <div class="aspect-square w-[25px]">
          <img src="assets/efficiency-icon.svg" alt="efficiency" />
        </div>
        <span class="font-semibold">New Efficiency: </span>
        <span>
          {{ newEfficiency() }}
        </span>
      </div>
      <div class="flex items-center gap-1">
        <img
          src="assets/token-ggt.webp"
          class="h-[25px] rounded-full"
          alt="GGT"
          title="GGT"
        />
        <span class="font-semibold">Earnings: </span>
        <span>{{ levelEarnings() }}</span>
        @if (levelEarnings() > 0) {
          <app-trend-badge [change]="earningsPercentage()" />
        }
      </div>
    </div>
  </div>
</div>
