<a
  class="border-base-content/20 hover:bg-base-200 group fixed bottom-0 right-0 z-10 cursor-pointer rounded-tl-xl border-l border-t border-dashed bg-gray-100 px-4 py-2 text-sm font-semibold duration-200 dark:bg-slate-900"
  href="https://x.com/dev_omr"
  target="_blank"
  rel="noreferrer"
>
  <div class="flex flex-row items-center justify-center gap-1.5 text-center">
    <div class="text-slate-900 dark:text-white">
      By <span class="text-color-primary underline">dev_omr</span>
    </div>
    <div class="avatar -mb-1 -mt-1">
      <div
        class="relative w-7 rounded-full duration-300 group-hover:rotate-12 group-hover:scale-110"
      >
        <img
          alt="Marc Lou"
          fetchpriority="high"
          width="240"
          height="240"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="assets/devomr.jpg"
          class="rounded-full"
        />
      </div>
    </div>
  </div>
</a>
