<main class="bg-gray-100 py-8 dark:bg-slate-900">
  <div class="container">
    <h1
      class="mb-4 text-center text-2xl font-bold tracking-tight text-slate-900 dark:text-white md:text-left md:text-3xl"
    >
      Token Price Converter
    </h1>
    @if (store.isLoading()) {
      <app-loader message="Loading token data..." />
    } @else {
      <table
        class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right"
      >
        <thead
          class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Token</th>
            <th scope="col" class="px-6 py-3">Price</th>
            <th scope="col" class="px-6 py-3">Convert</th>
          </tr>
        </thead>
        <tbody>
          @for (token of store.tokens(); track token.id) {
            <tr
              class="border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-gray-900 even:dark:bg-gray-800"
            >
              <td class="px-6 py-4">
                <div class="flex items-center gap-2">
                  <img
                    [src]="token.image"
                    class="h-8 rounded-full"
                    [alt]="token.symbol"
                    [title]="token.symbol"
                  />
                  {{ token.symbol }}
                </div>
              </td>
              <td class="px-6 py-4">
                {{ token.price | currency: "USD" }}
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center gap-4">
                  <input
                    type="number"
                    min="0"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                    placeholder="0.00"
                    [value]="formatNumber(token.amount)"
                    (input)="updateToken(token.symbol, $event)"
                  />
                  <span>{{ token.symbol }}</span>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <div
        class="mt-2 flex items-center gap-1 rounded-lg bg-blue-50 p-4 text-sm text-blue-800 dark:bg-gray-800 dark:text-blue-400"
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        Last price update {{ store.lastUpdate() | dateAgo }}
      </div>
    }
  </div>
</main>
