@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 175 86 255;
  }

  :root[class~="dark"] {
    --color-primary: 175 86 255;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .bg-spotlight {
    background-image: radial-gradient(ellipse farthest-corner at top right, rgba(50, 50, 50, 0.3), rgba(28, 28, 28, 1) 70%);
  }
}

@layer components {
  .alert-info {
    @apply bg-blue-50 text-blue-800 dark:bg-gray-800 dark:text-blue-400;
  }

  .alert-warning {
    @apply bg-yellow-50 text-yellow-800 dark:bg-gray-800 dark:text-yellow-300;
  }
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
